@charset "utf-8";

main {
  display: flex;
  justify-content: center;
}
.AptPrice-wrap * {
  /* outline: 1px solid red; */
  box-sizing: border-box;
}

.AptPrice-wrap {
  width: 90%;
}

.AptPrice-wrap .AptPrice-title {
  text-align: center;
  padding: 20px 0;
}

.AptPrice-wrap .AptPrice-page .AptPrice-page-item {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 2px;
  text-align: center;
}

.AptPrice-wrap .AptPrice-page .AptPrice-page-item.active {
  background-color: #333;
  color: white;
}
.AptPrice-wrap .AptPrice-content table {
  text-align: center;
  width: 100%;
  border: 1px solid #333;
  border-collapse: collapse;
}

.AptPrice-wrap .AptPrice-content table th,
.AptPrice-wrap .AptPrice-content table td {
  border: 1px solid #333;
  padding: 5px;
}

.AptPrice-wrap .AptPrice-content table > thead > tr th:nth-child(3) {
  width: 28%;
}

.AptPrice-wrap .AptPrice-btngrp {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.AptPrice-wrap .AptPrice-page {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.AptPrice-wrap .AptPrice-search {
  display: flex;
  justify-content: center;
}

i.fa-solid.fa-reply {
  color: pink;
}
