@charset "utf-8";


body {
    /*background: linear-gradient(to bottom, #8cc841, #29aeec 50%);*/
    /*height: 100vh;*/
    /*font-family: 'Jeju Gothic', sans-serif;*/
    margin: 0px;
}

.hdr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    padding: 10px 0px 0px 10px;
}

.logo {
    width: 400px;
    height: 125px;
}

.logo > img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.logo-box {
    margin-top: 140px;
}

.util-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 2px;
}

.util-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-box-wrap {
    position: relative;
    background: white;
    flex: 1 1 0%;
    border-radius: 2rem;
    font-size: 1rem;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #8cc841, #29aeec 50%);

    border: 3px solid #333333;
}

.search-box {
    /*position: absolute;*/
    /*right: 25px;*/
    /*top: 17px;*/
    /*width: 100px;*/
    margin: 0px 20px 0px 80px;
    /*display: block;*/
}

#searchBtn {
    width: 16px;
    height: 17px;
    background-size: cover;
    background-image: url('/img/icon/icon-search.png');
    /*display: block;*/
    overflow: hidden;
    text-indent: -20000px;
    background-color: white;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.input_tag {
    background: white;
    display: contents;
    border-radius: 2rem;
    padding: 1rem 4rem;
    width: 50vw;
    flex: 1 1 0%;
    font-size: 1rem;

}

.input_tag input {
    min-width: 100px;
    max-width: 350px;
    flex: 1 1 0%;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-image: linear-gradient(#fff, #fff),
    linear-gradient(to bottom, #8cc841, #29aeec 50%);
    margin: 5px;
}

.input_tag select {
    min-width: 80px;
    max-width: 300px;
    flex: 1 1 0%;
    border-width: 2px;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-image: linear-gradient(#fff, #fff),
    linear-gradient(to bottom, #8cc841, #29aeec 50%);
    margin: 5px;
}

.input_search{
  width: 120px;
}

#searchArea {
    margin-right: 10px;
}